
:root {
	--primary: #0d6efd;
	--dark: #21252f;
	--body: #888;
	--box-shadow:0 8px 22px rgba(0,0,0,0.1);
}

.home-card{
  width: 350px;
}

.card-effect{
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 25px;
	transition: all 0.35s ease;

}

.card-effect img {
  height: 150px;
  width: 150px;
}
.card-effect:hover{
	box-shadow: none;
	transform: translateY(5px);
}