
:root {
	--primary: #0d6efd;
	--dark: #21252f;
	--body: #888;
	--box-shadow:0 8px 22px rgba(0,0,0,0.1);
}

.home-card{
  width: 350px;
}

.card-effect{
	box-shadow: var(--box-shadow);
	background-color: var(--white);
	padding: 25px;
	transition: all 0.35s ease;

}

.card-effect img {
  height: 150px;
  width: 150px;
}
.card-effect:hover{
	box-shadow: none;
	transform: translateY(5px);
}


.popup{
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	visibility: hidden;
	transition: transform 0.3s;
	
  }
  .open-popup{
	visibility: visible;
	transform: translate(-50%,-50%) scale(1);
  }
  
  .message .success {
	display: none;
  }
  .message .danger {
	display: none;
  }
  
  
  
  .popupb{
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	visibility: hidden;
	transition: transform 0.3s;
	
  }
  .open-popupb{
	visibility: visible;
	transform: translate(-50%,-50%) scale(1);
  }
  
  .message .successb {
	display: none;
  }
  .message .dangerb {
	display: none;
  }
  
  /* for progoti 1st  */
  .popupp1{
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	visibility: hidden;
	transition: transform 0.3s;
	
  }
  .open-popupp1{
	visibility: visible;
	transform: translate(-50%,-50%) scale(1);
  }
  
  .message .successp1 {
	display: none;
  }
  .message .dangerp1 {
	display: none;
  }
  
  
  
  /* for progoti 2nd  */
  .popupp2{
	width: 400px;
	height: 300px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	visibility: hidden;
	transition: transform 0.3s;
	
  }
  .open-popupp2{
	visibility: visible;
	transform: translate(-50%,-50%) scale(1);
  }
  
  .message .successp2 {
	display: none;
  }
  .message .dangerp2 {
	display: none;
  }